<p>
  <b>Phone area:</b>
  <%=h @accordion_lead.phone_area %>
</p>

<p>
  <b>State:</b>
  <%=h @accordion_lead.state %>
</p>

<p>
  <b>Ampm:</b>
  <%=h @accordion_lead.ampm %>
</p>

<p>
  <b>Phone:</b>
  <%=h @accordion_lead.phone %>
</p>

<p>
  <b>Loed:</b>
  <%=h @accordion_lead.loed %>
</p>

<p>
  <b>First name:</b>
  <%=h @accordion_lead.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @accordion_lead.last_name %>
</p>

<p>
  <b>Source:</b>
  <%=h @accordion_lead.source %>
</p>

<p>
  <b>Email:</b>
  <%=h @accordion_lead.email %>
</p>

<p>
  <b>Time:</b>
  <%=h @accordion_lead.time %>
</p>

<p>
  <b>Institution url:</b>
  <%=h @accordion_lead.institution_url %>
</p>

<p>
  <b>Timezone:</b>
  <%=h @accordion_lead.timezone %>
</p>

<p>
  <b>Program name:</b>
  <%=h @accordion_lead.program_name %>
</p>

<p>
  <b>Institution name:</b>
  <%=h @accordion_lead.institution_name %>
</p>

<p>
  <b>Zip:</b>
  <%=h @accordion_lead.zip %>
</p>

<p>
  <b>Abtest version:</b>
  <%=h @accordion_lead.abtest_version %>
</p>

<p>
  <b>Adspace:</b>
  <%=h @accordion_lead.adspace_id %>
</p>

<p>
  <b>Career choice:</b>
  <%=h @accordion_lead.career_choice %>
</p>

<p>
  <b>Country:</b>
  <%=h @accordion_lead.country %>
</p>

<p>
  <b>Processed:</b>
  <%=h @accordion_lead.processed %>
</p>

<p>
  <b>Teach cert:</b>
  <%=h @accordion_lead.teach_cert %>
</p>

<p>
  <b>Phone2:</b>
  <%=h @accordion_lead.phone2 %>
</p>

<p>
  <b>Phone2 area:</b>
  <%=h @accordion_lead.phone2_area %>
</p>

<p>
  <b>Major:</b>
  <%=h @accordion_lead.major %>
</p>

<p>
  <b>Minor:</b>
  <%=h @accordion_lead.minor %>
</p>

<p>
  <b>Citizen or pr:</b>
  <%=h @accordion_lead.citizen_or_pr %>
</p>

<p>
  <b>Address1:</b>
  <%=h @accordion_lead.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%=h @accordion_lead.address2 %>
</p>

<p>
  <b>City:</b>
  <%=h @accordion_lead.city %>
</p>

<p>
  <b>Age:</b>
  <%=h @accordion_lead.age %>
</p>

<p>
  <b>Begin time:</b>
  <%=h @accordion_lead.begin_time %>
</p>

<p>
  <b>Accordion:</b>
  <%=h @accordion_lead.accordion_id %>
</p>

<p>
  <b>Counselor code:</b>
  <%=h @accordion_lead.counselor_code %>
</p>

<p>
  <b>User ip number:</b>
  <%=h @accordion_lead.user_ip_number %>
</p>

<p>
  <b>User ip country:</b>
  <%=h @accordion_lead.user_ip_country %>
</p>

<p>
  <b>Employer:</b>
  <%=h @accordion_lead.employer %>
</p>

<p>
  <b>Projected start:</b>
  <%=h @accordion_lead.projected_start %>
</p>

<p>
  <b>Recruiting:</b>
  <%=h @accordion_lead.recruiting %>
</p>


<%= link_to 'Edit', edit_accordion_lead_path(@accordion_lead) %> |
<%= link_to 'Back', accordion_leads_path %>